{{ define "player_list_section" }}
<div id="player-list-section-id" class="player-list-section">
    <h3 class="player-list-header">
        {{ if .HasPlayers }}
        👥 Players at {{ .SelectedLocation }}
        {{ else}}
            No Players added to {{ .SelectedLocation }}
        {{ end }}
    </h3>
    <div id="player-list">
        {{ range .Players }}
        <div class="player-card">
            <div class="player-avatar">{{ .PlayerNameAbbrev }}</div>
            <span class="player-name">{{ .PlayerName }}</span>
            <div class="player-card-actions">
                <button class="btn-card btn-edit">✏️ Edit</button>
                <button class="btn-card btn-delete">🗑️ Delete</button>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}