{{ define "title" }}Add Player{{ end }}

{{ define "css" }}
<link rel="stylesheet" href="../static/css/AddPlayer.css">
{{ end }}

{{ define "content" }}
<div class="add-player-container">
    <div class="glass form-container">
        <h1 class="gradient-text add-player-header">Add New Player</h1>
        
        <form class="add-player-form" hx-post="/players" hx-target="#player-list">
            <label>Location</label>
            <select 
                name="location"
                hx-get="/players/by-location" 
                hx-target="#player-list-section-id" 
                hx-swap="outerHTML"
                hx-trigger="change"
            >
                {{ range .Locations }}
                <option {{ if eq . $.SelectedLocation }}selected{{ end }}>{{.}}</option>
                {{ end }}
            </select>
            <label>First Name</label>
            <input type="text" name="first" minlength="2" maxlength="20" placeholder="e.g., Peter" required>

            <label>Last Name</label>
            <input type="text" name="last"  minlength="2" maxlength="20" placeholder="e.g., Parker" required>

            <button type="submit" class="btn btn-primary">+ Add Player to Location</button>
        </form>
    </div>

    <div id="player-list-section-id" class="player-list-section">
        <h3 class="player-list-header">
            👥 Players at {{ .SelectedLocation }}
        </h3>
        <div id="player-list">
            {{ range .Players }}
            <div class="player-card">
                <div class="player-avatar">{{ .PlayerNameAbbrev }}</div>
                <span class="player-name">{{ .PlayerName }}</span>
                <div class="player-card-actions">
                    <button class="btn-card btn-edit">✏️ Edit</button>
                    <button class="btn-card btn-delete">🗑️ Delete</button>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}