{{ define "title" }}Add Player{{ end }}

{{ define "css" }}
<link rel="stylesheet" href="../static/css/AddPlayer.css">
{{ end }}

{{ define "content" }}
<div class="add-player-container">
    <div class="glass form-container">
        <h1 class="gradient-text add-player-header">Add New Player</h1>
        
        <form class="add-player-form" hx-post="/players" hx-target="#player-list">
            <label>Location</label>
            
            <select name="location">
                {{range .Locations}}
                <option>{{.}}</option>
                {{ end }}
            </select>
            <label>First Name</label>
            <input type="text" name="first" minlength="3" maxlength="20" placeholder="e.g., Peter" required>

            <label>Last Name</label>
            <input type="text" name="last"  minlength="3" maxlength="20" placeholder="e.g., Parker" required>

            <button type="submit" class="btn btn-primary">+ Add Player to Location</button>
        </form>
    </div>

    <div class="player-list-section">
        <h3 class="player-list-header">
            👥 Players at Pelham Bay
        </h3>
        <div id="player-list">
            <div class="player-card">
                <div class="player-avatar">PP</div>
                <span class="player-name">Peterpeterpeter Parkerarkerkare</span>
                <div class="player-card-actions">
                    <button class="btn-card btn-edit">✏️ Edit</button>
                    <button class="btn-card btn-delete">🗑️ Delete</button>
                </div>
            </div>
            <div class="player-card">
                <div class="player-avatar">CK</div>
                <span class="player-name">Clark Kent</span>
                <div class="player-card-actions">
                    <button class="btn-card btn-edit">✏️ Edit</button>
                    <button class="btn-card btn-delete">🗑️ Delete</button>
                </div>
            </div>
            <div class="player-card">
                <div class="player-avatar">DM</div>
                <span class="player-name">Darien Miller</span>
                <div class="player-card-actions">
                    <button class="btn-card btn-edit">✏️ Edit</button>
                    <button class="btn-card btn-delete">🗑️ Delete</button>
                </div>
            </div>
            <div class="player-card">
                <div class="player-avatar">CK</div>
                <span class="player-name">Clark Kent</span>
                <div class="player-card-actions">
                    <button class="btn-card btn-edit">✏️ Edit</button>
                    <button class="btn-card btn-delete">🗑️ Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}