{{ define "title" }}Add Player{{ end }}

{{ define "css" }}
<link rel="stylesheet" href="../static/css/AddPlayer.css">
{{ end }}

{{ define "js" }}
<script src="../static/js/AddPlayer.js"></script>
{{ end }}

{{ define "content" }}
<div class="add-player-container">
    <div class="glass form-container">
        <h1 class="gradient-text add-player-header">Add New Player</h1>
        
        <form 
            class="add-player-form"
            hx-post="/players" 
            hx-target="#player-list" 
            hx-swap="beforeend"
            hx-on::before-request="disableForm(this, 3000)"
            hx-on::response-error="
                showToast(event.detail.xhr.responseText, 'error', 3000);
                enableForm(this, 3000);
            "
            hx-on::after-request="
                if(event.detail.successful) {
                    showToast('Player added successfully!', 'success', 2000);
                    this.reset();
                    enableForm(this, 2000);
                }
            "
        >
            <label>Location</label>
            <select 
                name="location"
                hx-get="/players/by-location" 
                hx-target="#player-list-section-id" 
                hx-swap="outerHTML"
                hx-trigger="change"
            >
                {{ range .Locations }}
                <option {{ if eq . $.SelectedLocation }}selected{{ end }}>{{.}}</option>
                {{ end }}
            </select>
            <label>First Name</label>
            <input type="text" name="first" minlength="2" maxlength="20" placeholder="e.g., Peter" required>

            <label>Last Name</label>
            <input type="text" name="last"  minlength="2" maxlength="20" placeholder="e.g., Parker" required>

            <button type="submit" class="btn btn-primary">
                + Add Player to Location
            </button>
        </form>
    </div>
    
    <div id="player-list-section-id" class="player-list-section">
        <h3 class="player-list-header">
            👥 Players at {{ .SelectedLocation }}
        </h3>
        <div id="player-list">
            {{ range .Players }}
            <div class="player-card">
                <div class="player-avatar">{{ .PlayerNameAbbrev }}</div>
                <span class="player-name">{{ .PlayerName }}</span>
                <div class="player-card-actions">
                    <button class="btn-card btn-edit" data-bs-toggle="modal" data-bs-target="#editModal">✏️ Edit</button>
                    <button class="btn-card btn-delete" data-bs-toggle="modal" data-bs-target="#deleteModal">🗑️ Delete</button>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
    
    <div id="toast" class="toast"></div>

    <!-- Modal for editting player name -->
    <div id="editModal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal for Deleting player -->
    <div id="deleteModal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Player</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5><span class="delete-warning">Are you sure?</span> They will also be removed from the game they are currently in.</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-delete" data-bs-dismiss="modal">Delete Player</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}