{{ define "title" }}Talent Show{{ end }}

{{ define "css" }}
<link rel="stylesheet" href="../static/css/TalentShow.css">
{{ end }}

{{ define "js" }}

{{ end }}

{{ define "content" }}
<h1>
    Talent Show
</h1>

 <div class="select-wrapper">
    <select class="talent-show-select">
        <!-- <option value="">Select Team</option> -->
        {{ range .TalentShowSlots }}
        <option value="{{ . }}">{{ . }}</option>
        {{ end }}
    </select>
</div>

<div class="player-card glass">
    <div class="player-name">NaME</div>

    <div class="score-controls">
        <button class="btn btn-score minus">−</button>
        <div class="score">0.0</div>
        <button class="btn btn-score plus">+</button>
    </div>
</div>
{{ end }}