{{ define "title" }}Talent Show{{ end }}

{{ define "css" }}
<link rel="stylesheet" href="../static/css/TalentShow.css">
{{ end }}

{{ define "js" }}

{{ end }}

{{ define "content" }}
<h1>
    Talent Show
</h1>

<select 
    class="talent-show-select"
    hx-get="/talent-show/card"
    hx-target="#card-container"
    hx-trigger="load, change"
    hx-swap="outerHTML"
    name="talent"
>
    {{ range .TalentShowSlots }}
    <option value="{{ . }}">{{ . }}</option>
    {{ end }}
</select>

<div id="card-container"></div>
{{ end }}