{{ define "title" }}Talent Show{{ end }}

{{ define "css" }}
<link rel="stylesheet" href="../static/css/TalentShow.css">
{{ end }}

{{ define "js" }}

{{ end }}

{{ define "content" }}
<div>
    Talent Show
</div>

 <div class="select-wrapper">
    <select class="talent-show-select">
        <!-- <option value="">Select Team</option> -->
        {{ range .TalentShowSlots }}
        <option value="{{ . }}">{{ . }}</option>
        {{ end }}
    </select>
    <button class="team-card__btn-assign">Assign</button>
</div>
{{ end }}