{{ define "title" }}Team Mode{{ end }}

{{ define "css" }}
<link rel="stylesheet" href="../static/css/TeamMode.css">
{{ end }}

{{ define "js" }}
<script>
    document.body.addEventListener("htmx:afterRequest", function (e) {
        const btn = e.detail.elt;
        const teamCard = btn.closest(".team-card");
        if (!teamCard) return;
        const input = teamCard.querySelector(".team-card__points-input");
        if (input) input.value = "";
    });
</script>
{{ end }}

{{ define "content" }}
<div class="team-page-header">
    <h1 class="gradient-text">Team Battle</h1>
    <!-- <div class="team-page-header__select-row">
        <select class="team-card__select">
            <option value="">Select Player</option>
            <option value="1">Clark Kent</option>
        </select>
        <button class="team-card__btn-assign">Assign</button>
    </div> -->
    <!-- <button class="btn btn-reset-all">Reset All Points</button> -->
</div>

<!-- Team cards go here -->
<div 
    id="teams-target"
    class="team-grid"
    hx-get="/teams"
    hx-swap="outerHTML"
    hx-target="#teams-target"
    hx-trigger="load"
>
    
</div>

<!-- View team players modal -->
<div id="viewTeamPlayersModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">View Team Players</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3 class="list-title">
                    Players
                </h3>
                <div id="team-players" class="player-names">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
    <!-- end of modal -->
</div>
<div class="team-page-footer">
    <button class="btn team-page__btn-save">Save Game</button>
</div>
{{ end }}