<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../static/img/sb_3.png" type="image/x-icon">
        <link rel="stylesheet" href="../static/css/Base.css">
        <title>{{ template "title" . }}</title>
        {{ template "css" .}}
    </head>
    <body>
        <div class="navbar">
            <div class="nav-left">sb Scoreboard</div>
            <div class="nav-right">
                <a href="#">Create Game</a>
                <a href="#">Add Player</a>
                <a href="#">Team Mode</a>
                <a href="#">View Games</a>
            </div>
        </div>
    {{ template "content" . }}
    </body>
</html>