<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../static/img/trophy.png" type="image/x-icon">
        {{ template "css" .}}
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"> -->
        <link rel="stylesheet" href="../static/css/Base.css">
        <link rel="stylesheet" href="../static/css/Navbar.css">
        
        <title>{{ template "title" . }}</title>
    </head>
    <body>
        <!-- Include navbar partial -->
        {{template "navbar" .}}
        
        <main id="main-content" class="container">
            <!-- Pages will insert their content here -->
            {{template "content" .}}
        </main>
        
        <!-- Potential footer, i'll see lol -->
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    </body>
</html>